.home{
    background: url("../../assets/image/home/background-home-desktop.jpg")center no-repeat;
    background-size:cover;
    min-height: 100vh;
    height: 100%;
    overflow-x:hidden;
    &__inner{
        position: relative;
        padding-top: 9rem;


        @media (max-width:1110px) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            padding-top: 9rem;
        }

        @media (max-width:600px){
            padding-top: 7rem;
        }
    }

    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;
       @media (max-width:960px) {

        flex-direction: column;
        gap: 3rem;
        padding-bottom: 2rem;
       }
    }
    &__title{
        margin-bottom: 0.5rem;
    }
    &__text{
        line-height: 1.7rem;
        font-size: 1.2rem;
        color: $purple;
        max-width: 22.2rem;
        padding-bottom:1.6rem;
    }
    &__subtitle{
        margin-bottom: 0;
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }
    &__btn{
        border-radius: 50%;
        border: none;
        width: 15.27rem;
        height: 15.27rem;
        font-size: 1.7rem;
        text-transform: uppercase;
        font-family: 'Bellefair';
        letter-spacing: 0.11rem;
        color: $blue;
        cursor: pointer;
        transition: all .2s linear;

        &:hover{
            box-shadow: 0 0 0 4.88rem rgba(255,255,255,0.1);
        }
    }

    @media(max-width:1110px) {
        text-align: center;
    }

    @media(max-width:960px) {
        background: url("../../assets/image/home/background-home-tablet.jpg") center no-repeat;
        background-size:cover;
    }
    @media(max-width:550px) {
        background: url("../../assets/image/home/background-home-mobile.jpg")center no-repeat;
        background-size:cover;
    }
}